@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DropDownViewModel
<select name="filter" class="form-control m-2"
        asp-items="@(new SelectList(
            Model.Items, "Key", "Value", Model.SelectedValue))">
    <option value="@Model.DefaultValue">All</option>
</select>