@model RegistrationViewModel
@{
   ViewBag.Title = "RegProduct";
}

@*Enable Validation Scripts via RenderSection() in the _Layout.cshtml*@
@section validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@*uses the string variable above to change the title according to the action.*@
<h2>Success</h2>
@{ 
    var session = new MySession(Context.Session);
    var cust = session.GetCustomer();
}

<h2>@cust.FullName</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ViewBag.products)
            {
                <tr>
                    <td>@product</td>
                    @*<td>
                        <a asp-controller="Registration" asp-action="Edit"
                           asp-route-id="@product.ProductID" class="btn btn-outline-secondary">Edit</a>
                        <a asp-controller="Registration" asp-action="Delete"
                           asp-route-id="@product.ProductID" class="btn btn-danger">Delete</a>
                    </td>*@
                </tr>
            }
    </tbody>
</table>


