@{
    ViewData["Title"] = "Technicians";
}

<h1 style="color:red">SportsPro Technical Support</h1>
<p>Sports management software for the sports enthusiast</p>

<h1 style="color:red">Admin</h1>
<div class="list-group">
    <a asp-area="Admin" asp-controller="Product" asp-action="Index"
       class="list-group-item">Manage Products</a>
    <a asp-area="Admin" asp-controller="Technician" asp-action="Index"
       class="list-group-item">Manage Technicians</a>
    <a asp-area="Admin" asp-controller="Customer" asp-action="Index"
       class="list-group-item">Manage Customers</a>
    <a asp-area="Admin" asp-controller="Incident" asp-action="Index"
       class="list-group-item">Manage Incidents</a>
    <a asp-area="Admin" asp-controller="Registration" asp-action="Index"
       class="list-group-item">Manage Registrations</a>
</div>

<h1 style="color:red">Technicians</h1>
<div class="list-group">
    <a asp-area="Technician" asp-controller="TechIncident" asp-action="Index"
       class="list-group-item">Update Incident</a>
</div>