@model Customer
@{
    ViewBag.Title = "Delete Product";
}

<h2>Confirm Deletion</h2>
<h3>@Model.FullName (@Model.City)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerID" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Customer" asp-action="CustomerManager"
       class="btn btn-primary">Cancel</a>
</form>
