@model Customer
@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = title;
}

@*uses the string variable above to change the title according to the action.*@
<h2>@ViewBag.Title</h2>

@*form that posts to the Edit() action. uses asp-action tag helper, but not
    asp-controller.*@
<form asp-action="Edit" method="post">

    @*data validation*@
    <div asp-validation-summary="All" class="text-danger"></div>

    @*displays labels and text boxes*@
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for='Address' class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="State">State</label>
        <input asp-for="State" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PostalCode">Postal Code</label>
        <input asp-for="PostalCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CountryID" class="control-label">Country</label>
        <select asp-for="CountryID" class="form-control">
            @foreach (Country country in ViewBag.Countries)
            {
                <option value="@country.CountryID">@country.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    @*uses hidden field to store the CustomerID*@
    <input type="hidden" asp-for="CustomerID" />

    @*button link formatted, submit posts form to Edit(), ViewBag.Action displays
        Add or Edit depending on which action method served the view.*@
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Product" asp-action="ProductManager"
       class="btn btn-outline-secondary">Cancel</a>
</form>
